<title>Tipo de usuario</title>
<link rel="stylesheet" type="text/css" href="C:\Users\isabl\Documents\Entrega2\src\app\pages\homeAdmin\welcome\welcome.component.css" >
<div class="container">
  <h2>Bienvenido, Administrador</h2>

  <div class="admin-actions">
    <h3>Acciones Administrativas</h3>
    <ul>
      <li><a routerLink="/crud-generos">Gestión de Géneros</a></li>
      <li><a routerLink="/crud-canciones">Gestión de Canciones</a></li>
      <!-- Agrega más enlaces según sea necesario -->
    </ul>
  </div>
  <router-outlet></router-outlet>