    <title>contactenos</title>
    <link rel="stylesheet" type="text/css" href="/Proyecto/Entrega2/src/styles.css" >

    <script src = "../contactenos/contactenos.component.ts"></script>
    <div class="banner">
        <form th:action="@{/contactenos}" method="post" th:object="${contactenos}">
            <label for="nombre">Nombres:</label><br>
            <input type ="text" id="nombre" onkeydown= "namesConstraint(this.value)" name="nombre"><br>
            <label class= "hiddenElm" id="charsName">m&aacute;ximo de car&aacute;cteres alcanzado</label><br>
            <label for="apellido">Apellidos:</label><br>
            <input type ="text" id="apellido" onkeydown= "lastNConstraint(this.value)" name="apellido"><br>
            <label class= "hiddenElm" id="charslst">m&aacute;ximo de caracteres alcanzado</label><br>
            <label for="fecha">Fecha:</label><br>
            <input type="text" id="fecha" onkeydown="dateConstraint(this.value)" name="fecha"><br>
            <label class="dateLabel" id="charDate">la fecha no puede ser nula</label><br>
            <label for="edad">Edad:</label><br>
            <input type="text" id="edad" onkeydown="ageConstraint(this.value)"   name="edad"><br>
            <label class="hiddenElm" id="charAge01" >la edad debe ser un valor entero</label><br>
            <label class="hiddenElm" id="charAge02" >la edad debe ser un valor menor a 100</label><br>

            <button type="submit">enviar</button>
        </form>

    </div>
