<!-- genre-form.component.html -->
<title>CRUD géneros</title>
<link rel="stylesheet" type="text/css" href="C:\Users\isabl\Documents\Entrega2\src\app\pages\admin\generos\generos.component.css">

<div class="container">
    <h2>Gestión de géneros</h2>
    <!-- Formulario para agregar/editar géneros -->
    <div class="genre-form">
      <h3>{{ editMode ? 'Editar Género' : 'Crear un género' }}</h3>
      <form [formGroup]="genreForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Nombre del género:</label>
          <input type="text" id="name" formControlName="name" />
        </div>
        <div class="form-group">
          <label for="description">Descripción del género:</label>
          <textarea id="description" formControlName="description"></textarea>
        </div>
        <div>
          <button type="submit">{{ editMode ? 'Actualizar género' : 'Agregar género' }}</button>
          <button type="button" (click)="onCancelClick()">Cancelar</button>
        </div>
      </form>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
  
    <!-- Lista de géneros existentes -->
    <div class="genre-list">
      <h3>Ver lista de Géneros:</h3>
      <ul>
        <li *ngFor="let genre of genres">
          <div>
            {{ genre.name }} - {{ genre.description }}
          </div>
          <div class="actions">
            <button class="edit" (click)="editGenre(genre.id)">Editar género</button>
            <button class="delete" (click)="deleteGenre(genre.id)">Eliminar género</button>
          </div>
        </li>
      </ul>
    </div>
  </div>  
  
  <router-outlet></router-outlet>