<title>Ver listas</title>
<link rel="stylesheet" type="text/css" href="C:\Users\isabl\Documents\Entrega2\src\app\pages\listas\ver-listas\ver-listas.component.css">
<div class="ver-listas-container">
  <h2>Listas de Reproducción por Género Musical</h2>
  <label>Selecciona un género musical:</label>
  <select [(ngModel)]="generoSeleccionado" (change)="actualizarListasPorGenero()">
    <option value="Rock">Rock</option>
    <option value="Pop">Pop</option>
    <!-- Agrega más géneros aquí -->
  </select>

  <div *ngIf="listasPorGenero.length > 0">
    <h3>Listas de Reproducción en el género {{ generoSeleccionado }}</h3>
    <ul>
      <li *ngFor="let lista of listasPorGenero">
        <a [routerLink]="['/ver-lista', lista]">{{ lista }}</a>
      </li>
    </ul>
  </div>
  <div *ngIf="listasPorGenero.length === 0">
    <p>No hay listas de reproducción disponibles en este género.</p>
  </div>
</div>

<router-outlet></router-outlet>