    <title>Proyecto</title>
    <link rel="stylesheet" type="text/css" href="/Proyecto/Entrega2/src/styles.css">
    
        <div class="content">
            <h1 class="maint">DESCRIPCI&Oacute;N DEL PROYECTO</h1><br>
            <p class="parrafos_proyecto">
                El actual proyecto tiene como objetivo evaluar los conocimientos aprendidos en la clase de desarrollo web. De igual manera llevar a cabo un proyecto real
                que está relacionado con el mundo músical y que emplea varios de los conceptos aprendidos en la clase.
            </p>
        
            <h1 class="maint">REQUERIMIENTOS</h1>
            <h2 class="subtext">Historias de Usuario</h2>
            <h3 class="h3Proyecto">Usuario votante</h3><br>

            <table class="tablaProyecto">
            <tr>
                <td class="columnaProyecto">HUV.1. Creaci&oacute;n de cuenta </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.2. Activaci&oacute;n de cuenta </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.3. Autenticaci&oacute;n de usuario </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.4. Ver listas por g&eacute;nero musical creadas </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.5. Buscar canci&oacute;n una canción </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.6. Votar/Desvotar por una lista </td>
            </tr>
            </table><br>

            <h3 class="h3Proyecto">Usuario administrador</h3><br>
            <table class="tablaProyecto">
            <tr>
                <td class="columnaProyecto">HUV.1. Autenticaci&oacute;n de usuario </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.2. CRUD G&eacute;neros m&uacute;sicales </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.4. CRUD Canciones </td>
            </tr>
            </table>

            <h2 class="subtext">Requerimientos Funcionales</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eveniet, accusantium dolorem cumque dolore ullam ab distinctio ipsa odio placeat, architecto veniam tempora optio earum minima animi doloribus recusandae! Expedita.
                Facilis deserunt corrupti voluptatum ipsam quibusdam id eligendi, voluptas eaque asperiores amet accusantium. Veniam dolores hic aperiam eaque, perferendis velit dolorem rerum facilis ducimus quisquam, quod voluptate distinctio labore deleniti.
            </p>
            <h2 class="subtext">Requerimientos No Funcionales</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eveniet, accusantium dolorem cumque dolore ullam ab distinctio ipsa odio placeat, architecto veniam tempora optio earum minima animi doloribus recusandae! Expedita.
                Facilis deserunt corrupti voluptatum ipsam quibusdam id eligendi, voluptas eaque asperiores amet accusantium. Veniam dolores hic aperiam eaque, perferendis velit dolorem rerum facilis ducimus quisquam, quod voluptate distinctio labore deleniti.
            </p>

            <h1 class="=maint">ARQUITECTURA DEL PROYECTO</h1>
            <h2 class="subtext">Diagramas</h2>
            <h2 class="subtext">Modelo conceptual</h2>
            <img src="assets/images/conceptual.jpg" style="width: 600px; height: 400px;">
            <h2>Modelo contenedores</h2>
            <img src="assets/images/contenedores.jpg" style="width: 600px; height: 400px;">
            <h2>Modelo componente</h2>
            <img src="assets/images/componente.jpg" style="width: 600px; height: 400px;">
            <h2 class="subtext">Modelos</h2>
            <h3 class="subtext">Entidad/relaci&oacute;n:Diccionario</h3>
            <img src="assets/images/ModeloER.png" style="width: 600px; height: 400px;">
            <h2 class="subtext">Diagrama de despliegue</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at tempora eaque quos earum corrupti nesciunt possimus, veritatis nam accusantium soluta, officia repellendus, nihil ut rerum commodi dolor perspiciatis voluptates.
                At voluptate consequatur nesciunt consectetur facilis minima provident earum cupiditate nulla accusantium aperiam, architecto eius quidem ipsam qui impedit velit dolore quos dolorem temporibus laboriosam officia ab. Aperiam, ex nisi.
            </p>

            <h1 class="maint">ENTREGA 1</h1>
            <h2 class="subtext">Diccionario de datos</h2>
            <h3 class="subtext">Tabla: UsuarioAdmon</h3>
            <table class="tablaProyecto">
                <tr>
                    <td class="columnaProyecto">Nombre de la columna</td>
                    <td class="columnaProyecto">Tipo de dato</td>
                    <td class="columnaProyecto">Descripci&oacute;n</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">ID</td>
                    <td class="columnaProyecto">Clave primaria</td>
                    <td class="columnaProyecto">Identificador único del usuario</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">Nombre</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">El nombre del usuario administrador</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">Correo</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">La dirección de correo electrónico del usuario administrador.</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">Password</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">La contraseña del usuario administrador</td>
                  </tr>
            </table><br>

            <h3 class="subtext">Tabla: UsuarioVotante</h3>
            <table class="tablaProyecto">
                <tr>
                    <td class="columnaProyecto">Nombre de la columna</td>
                    <td class="columnaProyecto">Tipo de dato</td>
                    <td class="columnaProyecto">Descripci&oacute;n</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">ID</td>
                    <td class="columnaProyecto">Clave primaria</td>
                    <td class="columnaProyecto">Identificador único del usuario</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">Nombre</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">El nombre del usuario votante</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">Correo</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">La dirección de correo electrónico del usuario votante.</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">Password</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">La contraseña del usuario votante</td>
                  </tr>
            </table><br>

            <h3 class="subtext">Tabla: Listas</h3>
            <table class="tablaProyecto">
                <tr>
                    <td class="columnaProyecto">Nombre de la columna</td>
                    <td class="columnaProyecto">Tipo de dato</td>
                    <td class="columnaProyecto">Descripci&oacute;n</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">ID</td>
                    <td class="columnaProyecto">Clave primaria</td>
                    <td class="columnaProyecto"> Identificador único de la lista de canciones</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">genero</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">El género musical asociado a la lista de canciones</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">UsuarioAdmonID</td>
                    <td class="columnaProyecto">Clave Foránea</td>
                    <td class="columnaProyecto">El ID del usuario administrador que creó la lista de canciones</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">UsuarioVontanteID</td>
                    <td class="columnaProyecto">Clave Foránea</td>
                    <td class="columnaProyecto">El ID del usuario votante que creó la lista de canciones</td>
                  </tr>
            </table><br>

            <h3 class="subtext">Tabla: Cancion</h3>
            <table class="tablaProyecto">
                <tr>
                    <td class="columnaProyecto">Nombre de la columna</td>
                    <td class="columnaProyecto">Tipo de dato</td>
                    <td class="columnaProyecto">Descripci&oacute;n</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">ID</td>
                    <td class="columnaProyecto">Clave primaria</td>
                    <td class="columnaProyecto">Identificador único de la canción</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">nombre</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">El nombre de la canción</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">genero</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">El género musical al que pertenece la canción</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">rating</td>
                    <td class="columnaProyecto">INT</td>
                    <td class="columnaProyecto">El rating o calificación de la canción</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">artista</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">El nombre del artista intérprete o grupo</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">album</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">El nombre del álbum al que pertenece la canción</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">listasID</td>
                    <td class="columnaProyecto">Clave Foránea</td>
                    <td class="columnaProyecto"> El ID de la lista de canciones a la que pertenece esta canción</td>
                  </tr>
            </table><br>

            <h2 class="subtext">Pruebas Unitarias</h2>
            <table class="tablaProyecto">
                <tr class=>
                  <td class="columnaProyecto titulos_unit">Test case ID</td>
                  <td class="columnaProyecto titulos_unit">Descripci&oacute;n</td>
                  <td class="columnaProyecto titulos_unit">pasos a seguir</td>
                  <td class="columnaProyecto titulos_unit">Test Data</td>
                  <td class="columnaProyecto titulos_unit">resultados esperados</td>
                  <td class="columnaProyecto titulos_unit">resultados actuales</td>
                  <td class="columnaProyecto titulos_unit">Pass/Fail</td>
                </tr>
                <tr>
                  <td class="columnaProyecto">001</td>
                  <td class="columnaProyecto">Para la clase de UsuarioAdmon se hace una prueba del establecimiento de la conexion con la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">002</td>
                  <td class="columnaProyecto">Para la clase de UsuarioAdmon se hace una prueba de la inserci&oacute;n de datos a la entidad correspondiente existente en la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">003</td>
                  <td class="columnaProyecto">Para la clase de UsuarioAdmon se hace una prueba de la eliminaci&oacute;n de datos a la entidad correspondiente existente en la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>

                <tr>
                  <td class="columnaProyecto">004</td>
                  <td class="columnaProyecto">Para la clase de UsuarioAdmon se hace una prueba de la actualizaci&oacute;n de datos a la entidad correspondiente existente en la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">005</td>
                  <td class="columnaProyecto">Para la clase de Usuariovotante se hace una prueba del establecimiento de la conexion con la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">006</td>
                  <td class="columnaProyecto">Para la clase de Usuariovotante se hace una prueba de la inserci&oacute;n de datos a la entidad correspondiente existente en la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">007</td>
                  <td class="columnaProyecto">Para la clase de Usuariovotante se hace una prueba de la eliminaci&oacute;n de datos a la entidad correspondiente existente en la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">008</td>
                  <td class="columnaProyecto">Para la clase de Usuariovotante se hace una prueba de la actualizaci&oacute;n de datos a la entidad correspondiente existente en la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">009</td>
                  <td class="columnaProyecto">Para la clase de Cancion se hace una prueba del establecimiento de la conexion con la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">010</td>
                  <td class="columnaProyecto">Para la clase de Cancion se hace una prueba de la inserci&oacute;n de datos a la entidad correspondiente existente en la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">011</td>
                  <td class="columnaProyecto">Para la clase de Cancion se hace una prueba de la eliminaci&oacute;n de datos a la entidad correspondiente existente en la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">012</td>
                  <td class="columnaProyecto">Para la clase de Cancion se hace una prueba de la actualizaci&oacute;n de datos a la entidad correspondiente existente en la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">013</td>
                  <td class="columnaProyecto">Para la clase de Contactenos se hace una prueba del establecimiento de la conexion con la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">014</td>
                  <td class="columnaProyecto">Para la clase de Contactenos se hace una prueba de la inserci&oacute;n de datos a la entidad correspondiente existente en la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">015</td>
                  <td class="columnaProyecto">Para la clase de Contactenos se hace una prueba de la eliminaci&oacute;n de datos a la entidad correspondiente existente en la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">016</td>
                  <td class="columnaProyecto">Para la clase de Contactenos se hace una prueba de la actualizaci&oacute;n de datos a la entidad correspondiente existente en la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">017</td>
                  <td class="columnaProyecto">Para la clase de Listas se hace una prueba del establecimiento de la conexion con la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">018</td>
                  <td class="columnaProyecto">Para la clase de Listas se hace una prueba de la inserci&oacute;n de datos a la entidad correspondiente existente en la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">019</td>
                  <td class="columnaProyecto">Para la clase de Listas se hace una prueba de la eliminaci&oacute;n de datos a la entidad correspondiente existente en la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">020</td>
                  <td class="columnaProyecto">Para la clase de Listas se hace una prueba de la actualizaci&oacute;n de datos a la entidad correspondiente existente en la base de datos</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
              </table><br>

            <h1 class="maint">PRUEBAS</h1>
            <h2 class="subtext">Casos de pruebas frontend</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at tempora eaque quos earum corrupti nesciunt possimus, veritatis nam accusantium soluta, officia repellendus, nihil ut rerum commodi dolor perspiciatis voluptates.
                At voluptate consequatur nesciunt consectetur facilis minima provident earum cupiditate nulla accusantium aperiam, architecto eius quidem ipsam qui impedit velit dolore quos dolorem temporibus laboriosam officia ab. Aperiam, ex nisi.
            </p>
            <h2 class="subtext">Casos de pruebas backend</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at tempora eaque quos earum corrupti nesciunt possimus, veritatis nam accusantium soluta, officia repellendus, nihil ut rerum commodi dolor perspiciatis voluptates.
                At voluptate consequatur nesciunt consectetur facilis minima provident earum cupiditate nulla accusantium aperiam, architecto eius quidem ipsam qui impedit velit dolore quos dolorem temporibus laboriosam officia ab. Aperiam, ex nisi.
            </p>

            <h1 class="maint">DESPLIEGUE</h1>
            <h2 class="subtext">Versiones</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at tempora eaque quos earum corrupti nesciunt possimus, veritatis nam accusantium soluta, officia repellendus, nihil ut rerum commodi dolor perspiciatis voluptates.
                At voluptate consequatur nesciunt consectetur facilis minima provident earum cupiditate nulla accusantium aperiam, architecto eius quidem ipsam qui impedit velit dolore quos dolorem temporibus laboriosam officia ab. Aperiam, ex nisi.
            </p>
        </div>
