<title>MusicaList</title>
<link rel="stylesheet" type="text/css" href="/Proyecto/Entrega2/src/styles.css" >
    <div class="banner">
        <div class= "navbar">
            <img src="assets/images/logo.png" routerLink="" class="logo" >
            <ul>
                <li> <nav><a routerLink="/equipo">equipo</a> </nav></li>
                <li> <nav><a routerLink="/proyecto">proyecto</a> </nav></li>
                <li> <nav><a routerLink="/contactenos">contactenos</a></nav></li>
            </ul>
        </div>
        <div class="content">
            <h3 class="subtext">Desarrollo web 2023</h3><br><br>
            <h1 class="maint">HERRAMIENTA DE M&Uacute;SICA</h1><br><br>
            <h4>Proyecto de desarrollo web del segundo semestre del 2023
                Universidad Javeriana</h4>
            <div>
                <button type="button" routerLink="/seleccion-usuario"><span></span>Inicia sesi&oacute;n</button>
                <button type="button"><span></span>¡M&aacute;s informaci&oacute;n!</button>
            </div>
        </div>

    </div>
    <router-outlet></router-outlet>

