<title>Equipo</title>
<link rel="stylesheet" type="text/css" href="/Proyecto/Entrega2/src/styles.css">
<div class="banner">
  <!--Para el logo-->
  <div class="navbar">
    <img src="assets/images/logo.png" class="logo" />
  </div>
  <!--Para la descripción de cada uno-->
  <div class="teamt">
    <h1 class="subtext">MIEMBROS DEL EQUIPO</h1>
    <!--Fotos y texto-->
    <div class="images">
      <div class="image-wrapper">
        <img src="assets/images/JBImg.jpg" alt="JB" />
        <h2 class="maint">Juan Buitrago</h2>
        <h3 class="subtext">L&iacute;der t&eacute;cnico</h3>
        <p>
          Estudiante de ingenieria de sistemas de 6to semestre, experiencia en
          python, c++ y java. Semillero de investigacion de la Konrad Lorenz
          certificado por intensidad de 48 horas.
        </p>
      </div>
      <div class="image-wrapper">
        <img src="assets/images/Isaimg.jpg" alt="Isa" />
        <h2 class="maint">Isabella Blanco</h2>
        <h3 class="subtext">L&iacute;der de planeaci&oacute;n</h3>
        <p>
          Soy Isabella Blanco Chaparro y tengo 22 años, estoy en octavo semestre
          de ingenier&iacute;a de sistemas. Me gusta leer y tocar el piano,
          s&eacute; programar en C++, C, Java, Python y estoy aprendiendo
          m&aacute;s lenguajes en la clase de desarrollo web.
        </p>
      </div>
      <div class="image-wrapper">
        <img src="assets/images/frankimg.jpg" alt="Frank" />
        <h2 class="maint">Frank Hern&aacute;ndez</h2>
        <h3 class="subtext">L&iacute;der de pruebas</h3>
        <p>
          Soy Frank Hern&aacute;ndez, tengo 19 años y estoy en sexto semestre de
          ingenier&iacute;a de sistemas. S&eacute; programar en C++, Java, C,
          Python,SQL, Dart, Kotlin, y estoy en proceso de aprendizaje de
          lenguajes relacionados con el desarrollo web.
        </p>
      </div>
    </div>
  </div>
</div>
