<title>Tipo de usuario</title>
<link rel="stylesheet" type="text/css" href="C:\Users\isabl\Documents\Entrega2\src\app\pages\home\bienvenida\bienvenida.component.css" >
<div class="container">
    <h2>Bienvenido a la sección de Votante</h2>
  
    <p>Aquí tienes algunas opciones disponibles:</p>
  
    <ul>
      <li><a routerLink="/ver-listas">Ver listas por género musical</a></li>
      <li><a routerLink="/buscar-cancion">Buscar una canción</a></li>
      <li><a routerLink="/votar-cancion">Votar por una canción</a></li>
    </ul>
  </div>